{% extends 'base.html' %}

{% block title %}{{ product.title }} | {% endblock %}

{% block content %}
<div id="productapp">
  <img src="{{ product.thumbnail.url }}"> 
    <br />
    <h1>{{product.title}}</h1>
    <br />
    <h4>{{product.description}}</h4>
    <button @click="addtocart({{ product.id }})" class="btn btn-success" >add to cart</button>
     <div v-if="showMessage"class="alert alert-success" role="alert">
             product added to the card
    </div>
</div>
{% endblock %}


{% block scripts %}
<script>
    var productapp = new Vue({
        el: '#productapp',
        delimiters: ['[[', ']]'],
        store: store,
        data() {
            return {
                showMessage : false
            }
        },
        mounted() {
            console.log('Mounted');
        },
        methods: {
            addtocart(product_id) {
                store.commit('increment',1); 
                var data = { 'product_id': product_id, 'update': false, 'quantity': 1 };

                fetch('/api/add_to_cart/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token}}'
                    },
                    credentials: 'same-origin',
                    body: JSON.stringify(data)
                })
                    .then((response) => {
                        console.log(response);
                        this.showMessage = true

                        setTimeout(() =>{
                            this.showMessage = false
                        },2000)

                    })
                    .catch(function (error) {
                        console.log('Error 2');
                        console.log(error);

                    })
            }
        }
    })
</script>
{% endblock %}